/* .div{
border: 2 px solid  green;
    display: inline-block;
    margin: -5px;

    color: aquamarine;
    font-size: 15px;
} */



.parent{
    background-color: blanchedalmond;
    height: 10rem;
    width: 9rem;
    position: relative;
}

.fils{
    background-color: aquamarine;
    height: 5rem;
    width: 4rem;
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
    


}